*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.nav{
    display: flex;
    color: #fff;
    background-color: #333;
    height: 40px;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
.nav .logo{
    line-height: 40px;
}
.nav > ul{
    display: block;
    flex: 1;
}

.nav > ul > li{
    float: right;
    line-height: 40px;
    margin-right: 10px;
}

.nav > ul > li.active{
    color: blue;
}

.nav > ul > li:hover{
    color: blue;
    cursor: pointer;
}

.nav > img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.banner{
    height: 400px;
}

.banner .swiper-slide{
    height: 400px;
}

.person{    
}

.person h2{
    text-align: center;
    color: #111;
    margin-top: 30px;
    margin-bottom: 30px;
}

.person .content{
    display: flex;
}

.person .content .box{
    flex: 1;
    height: 200px;
    text-align: center;
    position: relative;
    outline:#ccc dotted 1px;
    outline-offset: -20px;
}
.person .content .box:hover{
    cursor: pointer;
    /* box-shadow:0px 0px 1px 1px #ccc; */
}
.person .content .box:hover .skill-name{
    top: 10%;
}
.person .content .box:hover .skill-desc{
    top: 70px;
    opacity: 1;
}
.person .content .box .skill-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #765;
    color: #f2f2f2;
    text-align: center;
    line-height: 100px;
    transition: all 0.3s ease-in-out;
}
.person .content .box .skill-desc{
    width: 100%;
    padding: 20px;
    line-height: 20px;
    position: absolute;
    top:200px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.work{
    height: 400px;
}

.work h2{
    text-align: center;
    color: #111;
    margin-top: 30px;
    margin-bottom: 30px;    
}

.work .content{
    display: flex;
    flex-wrap: wrap;
}

.work .content .box{
    width: 33%;
    padding: 20px;
    /* outline:#ccc dotted 1px;
    outline-offset: -20px; */
    text-align: center;
}

.work .content .box .item{
    width: 240px;
    height: 300px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.work .content .box .item:hover img{
    transform: scale(1.1);
}

.work .content .box .item img{
    width: 240px;
    height: 320px;
    transition: all 0.7s ease-in-out;
}

@media screen and ( max-width : 768px){
    .nav > ul{
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #333;
        padding: 0 5px;
        display: none;
    }
    .nav > img{
        display: block;
    }
    
    .nav > ul > li {
        float: none;
    }

    .banner,.banner .swiper-slide{
        height: 150px;
    }

    .person .content{
        display: block;
    }

    .person .content .box {
        display: block;
        width: 100%;
        padding: 20px;
    }

    .person .content .box .skill-name{
        left: 20%;
        top: 50%;
    }
    .person .content .box .skill-desc{
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 65%;
        text-align: left;
        left: 30%; 
    }

    .work .content .box{
        width: 100%;
    }
    .work .content .box .item {
        width: 100%;
        height: auto;
        padding: 20px;
    } 
    .work .content .box .item img{
        width: 100%;
        height: auto;
    }
}