.top_bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-image: radial-gradient(white, #ffffff 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.1) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.3) 2px, transparent 40px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 
    350px 350px, 
    250px 250px, 
    150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px -30px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.top_bg:hover {
  background-image: radial-gradient(white, #ffffff 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.1) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.3) 2px, transparent 40px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.1) 2px, transparent 30px);
}
.top_bg .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_bg .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: #fbfbfb6b -3px 3px 5px 1px;
  transition: all 0.5s ease-in-out;
}
.top_bg .avatar img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.top_bg .name {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-shadow: #333 1px 1px 9px;
}
.top_bg .desc {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-shadow: #333 1px 1px 9px;
  width: 28em;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  border-right: 1px solid;
  animation: typing 14s steps(28), caret 0.5s steps(1) infinite;
}
.top_bg .info {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-shadow: #333 1px 1px 9px;
}
.top_bg .info .work {
  display: block;
}
.top_bg .info .age {
  display: block;
}
.top_bg .blog a {
  color: #fff;
  padding: 2px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 36px;
  text-shadow: #333 1px 1px 9px;
}
.top_bg .blog a:hover {
  cursor: pointer;
  color: red;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23ff3300' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
  background-size: 20px auto;
  text-decoration: none;
  animation: wave 2s linear infinite;
}
.top_bg .link {
  margin-top: 20px;
}
.top_bg .link a {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
}
.top_bg .link a:hover {
  color: red;
}
.top_bg .link a:last-child {
  margin: 0;
}
@keyframes wave {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
